---
export interface Props {
  author: string;
  link?: string;
}

const content = Astro.props;
---

<h2>L'avis du client</h2>
<figure class="portfolio_item__review">
  <figcaption><cite>{content.author}{content.link && <span> (via <a href={content.link} rel="noopener nofollow noreferrer" target="_blank">Google</a>)</span>}</cite></figcaption>
  <blockquote><slot/></blockquote>
</figure>
