main,
article,
aside {
  overflow: hidden;
  width: 100%;
  max-width: var(--content-max-width);
  margin: 0 auto;

  a {
    text-decoration: 2px underline;
    text-decoration-color: var(--color-accent);
    color: black;
  }

  strong {
    color: var(--color-accent);
  }

  p,
  ul,
  ol {
    margin: 1rem 0 2rem;
  }
}

img {
  height: auto;
}

main[class*='page'] {
  padding-block-end: calc(4px + 0.8rem + calc(1.4 * var(--font-size-small))); // Height of back to top button

  h1 {
    text-align: center;

    span {
      white-space: nowrap;
    }
  }
}

.bloc_portfolio__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, min(100%, 37ch));
  justify-content: center;
  gap: 2rem;

  article {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
    background-color: var(--color-gray-light);

    &[data-year]:not([data-year=""]):after {
      content: attr(data-year);
      position: absolute;
      background: var(--color-accent);
      color: var(--color-light);
      padding: 0.125rem 0.75rem;
      border-radius: 1rem;
      margin: unset;
      right: 0.75rem;
      top: calc(330px / 3 * 2 + 0.75rem);
      font-family: var(--font-familly-title);

      @media (max-width: 369px) {
        display: none;
      }
    }

    h3 {
      margin: 2rem 1rem 0;
      font-size: var(--font-size-h5);
      order: 1;
    }

    p {
      color: var(--color-text-accentued);
    }

    p:first-of-type {
      margin: 0.5rem 1rem;
      order: 3;
    }

    p:nth-of-type(n+2) {
      margin: 0 1rem;
      color: var(--color-accent);
      order: 2;
    }

    p:last-of-type {
      margin-top: 1rem;
      order: 10;
    }

    picture {
      display: flex;
      order: 0;
    }

    a {
      text-transform: lowercase;
      font-size: var(--font-size-small);
      margin-left: auto;

      &:before {
        content: '';
        position: absolute;
        inset: 0;
      }
    }
  }
}

.social_networks {
  ul {
    display: grid;
    gap: 2rem;
    justify-items: center;

    @include responsive(tablet) {
      padding: .5rem;
      grid-template-columns: repeat(2, 1fr);
    }

    @include responsive(laptop) {
      padding: .5rem;
      grid-template-columns: repeat(3, 1fr);
    }
  }

  li {
    max-width: 37ch;

    &:hover {
      svg {
        color: var(--color-gray-dark);
      }
    }

    &:focus-within {
      svg {
        color: var(--color-accent);
      }
    }
  }

  a {
    border: 2px solid var(--color-dark);
    border-radius: 5px;
    display: grid;
    grid-template-columns: 60% 40%;
    text-decoration: unset;
    outline-offset: 2px;
    -webkit-tap-highlight-color: var(--color-tap);

    &:focus {
      border-color: var(--color-accent);
    }
  }

  h3 {
    margin: unset;
    place-self: center;

    @include responsive(laptop) {
      font-size: var(--font-size-h3);
    }
    
    &:after {
      content: attr(data-link);
      display: block;
      font-size: var(--font-size-xsmall);
      color: var(--color-accent);

      @include responsive(tablet) {
        font-size: var(--font-size-small);
      }
    }
  }

  svg {
    width: 50%;
    max-width: 7rem;
    margin: 2rem;
    aspect-ratio: 1 / 1;
    place-self: center;
    color: var(--color-gray-medium);
    transition: color .15s ease-out;

    &:not(:hover) {
      transition-duration: 0;
    }
  }
}

.page_home {
  h1 {
    margin-top: 2rem;

    @include responsive(tablet) {
      &:before {
        content: '👋 ';
      }
    }

    @include responsive(laptop) {
      margin-top: 4rem;
    }
  }

  h2 {
    display: grid;
    gap: 0.5rem;
  
    &:before {
      content: attr(data-subtitle);
      color: var(--color-accent);
      text-transform: lowercase;
      font-size: var(--font-size-small);

      @include responsive(laptop) {
        font-size: var(--font-size-h5);
      }
    }
  }
}

.page_home__portfolio {
  & > p:last-child {
    margin-top: 2rem;
    text-align: center;
  }
}

.page_portfolio header p {
  max-width: 70ch;
  margin-left: auto;
  margin-right: auto;
}

main.page_about header {
  h1 {
    margin-bottom: 1rem;
  }

  p {
    max-width: 70ch;
    margin: auto;
    position: relative;
    line-height: 1.25rem;

    &:before {
      content: '[n. m.]';
      font: var(--font-code);
      background-color: var(--color-gray-light);
      padding: 0.125rem 0.25rem;
      margin-right: 0.25rem;
      vertical-align: text-bottom;
      line-height: 1.5rem;
    }
  }
}

.page_about__presentation p {
  max-width: 70ch;
  margin-left: auto;
  margin-right: auto;

  &:first-of-type:before {
    content: '👋';
    font: var(--font-text);
  }
}

.page_about__work,
.page_about__training {
  ol {
    @include responsive(laptop) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
    }
  }

  li {
    border-bottom: 1px solid var(--color-gray-medium);
  }

  li h3 {
    margin-bottom: 0;

    @include responsive(laptop) {
      margin-top: 1rem;
    }
  }

  li p:first-of-type {
    margin: unset;
    color: var(--color-accent);
    text-transform: lowercase;
  }

  li p:not(:first-of-type) {
    margin: 0.5rem 0 1rem;
  }
}

.page_contact__form {
  display: grid;
  gap: 2rem;

  @include responsive(laptop) {
    grid-template-columns: repeat(2, 1fr);

    .form_row:nth-child(n+3),
    [role="alert"],
    button {
      grid-column: 1 / -1;
    }
  }
}

.page_legal {
  header p {
    text-align: center;
  }

  li {
    line-height: 2.5rem;

    span:nth-of-type(odd) {
      font-weight: bold;
    }

    span:nth-of-type(even) {
      white-space: nowrap;
    }

    p,
    ul,
    ol {
      display: inline;
    }
  }

  address {
    display: inline;
  }
}
