form {
  padding: 4px;

  [role='alert'] {
    border: 2px solid var(--color--accent);
    padding: 0.5rem 1rem;
    place-self: center;

    &[aria-hidden='true'] {
      display: none;
    }

    &[data-success='true'] {
      & > :first-child:before {
        content: '✔️';
        margin-right: 0.25rem;
      }
    }

    &[data-success='false'] {
      & > :first-child:before {
        content: '❗';
      }
    }

    p {
      margin: unset;
    }
  }

  button {
    font: var(--font--title);
    place-self: center;
  }
}

.form_row {
  display: flex;
  flex-direction: column;

  &.form_row--checkbox {
    flex-direction: row-reverse;
    align-items: flex-start;
    gap: 1rem;

    label {
      margin-right: auto;
      margin-bottom: unset;
    }
  }

  p {
    line-height: 1.4;
    margin: 0.5rem 0 0;
  }

  small {
    line-height: 1;
  }
}

@media (min-width: $screen-sm) {
  .form_row.form_row--checkbox {
    align-items: center;
  }
}

label {
  font: var(--font--text);
  color: var(--color--text);
  margin-bottom: 0.5rem;
}

input,
textarea {
  border: 2px solid var(--color--dark);
  background-color: var(--color--gray-light);
  border-radius: 5px;
  font: var(--font--title);

  &:focus {
    outline-offset: unset;
    border-color: var(--color--accent);
    outline: 2px dashed var(--color--accent);
  }
}

input:not([type='radio'], [type='checkbox']),
textarea {
  font-size: large;
  padding: 0.5rem;
  width: 100%;
}

input[type='checkbox'] {
  width: 1.5rem;
  height: 1.5rem;
  display: inline-block;
  flex: 0 0 1.5rem;
  appearance: checkbox;
}

textarea {
  resize: vertical;
  min-height: calc(4lh + 1rem);
  max-height: calc(10lh + 1rem);
  field-sizing: content;
  line-height: 1.5;
}

button {
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }
}
