$screen-sm: 36em; // 576px
$screen-md: 48em; // 768px
$screen-lg: 62em; // 992px
$screen-xl: 78em; // 1248px
$screen-2xl: 96em; // 1440px

$content-max-width: 120ch;
$text-max-width: 70ch;

@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

@mixin visually-hidden-revert {
  position: static;
  width: auto;
  height: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  clip: auto;
  white-space: normal;
}
