/*
 * Skip menu
 */

.skip {
  position: fixed;
  top: var(--content-space-around);
  right: var(--content-space-around);
  z-index: -1;
  background-color: var(--color--light);

  &:focus-within {
    z-index: 2500;
  }

  .skip-list {
    margin: 0 auto;
    padding: 0;
    list-style: none;
  }

  .skip-list__link {
    display: block;
    position: absolute;
    top: 0;
    right: -777em;
    line-height: 1.5;
    font-family: var(--font-familly--title);
    text-align: right;
    z-index: 0;
    padding: 0.5rem;
    white-space: nowrap;

    &:focus,
    &:hover {
      right: 0;
      outline: 4px dashed var(--color--accent);
      z-index: 2500;
    }

    &:after {
      content: '';
      position: absolute;
      z-index: -1;
      width: calc(100vw - 2 * var(--content-space-around));
      height: 100%;
      right: 0;
      top: 0;
      background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 40%, rgba(248, 249, 250, 1) 50%, rgba(248, 249, 250, 1) 100%);
    }
  }
}

@media (min-width: $screen-md) {
  .skip {
    right: unset;
    left: var(--content-space-around);

    .skip-list__link {
      &:focus,
      &:hover {
        right: unset;
        left: 0;
      }

      &:after {
        right: unset;
        left: 0;
        width: 100%;
        background: var(--color--light);
      }
    }
  }
}

@media (min-width: $screen-lg) {
  .skip {
    .skip-list__link {
      line-height: 2.5;

      &:focus,
      &:hover {
        right: unset;
        left: 0;
      }
    }
  }
}

/*
 * Navigation menu
 */

.navigation {
  overflow: hidden;
  margin: 0 calc(-1 * var(--content-space-around));
  width: calc(100% + 2 * var(--content-space-around));
  align-self: flex-end;

  ul {
    display: flex;
    justify-content: flex-start;
    overflow: auto hidden;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    gap: 1.5rem;
    padding: 4px var(--content-space-around) 0;
    scroll-snap-type: x mandatory;
    scroll-padding: 0 var(--content-space-around);
    overscroll-behavior-x: contain;
    // Add gradient on each sides of scollable zone.
    -webkit-mask: linear-gradient(
      to right,
      #0000,
      #0000 calc(var(--content-space-around) / 4),
      #000 var(--content-space-around),
      #000 calc(100% - var(--content-space-around)),
      #0000 calc(100% - var(--content-space-around) / 4),
      #0000
    );
    mask: linear-gradient(
      to right,
      #0000,
      #0000 calc(var(--content-space-around) / 4),
      #000 var(--content-space-around),
      #000 calc(100% - var(--content-space-around)),
      #0000 calc(100% - var(--content-space-around) / 4),
      #0000
    );
    text-transform: lowercase;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  li {
    scroll-snap-align: start;
    line-height: 1.5;
    padding-bottom: 1rem;
  }

  a {
    border-bottom: 4px solid transparent;
    padding-bottom: calc(1rem - 4px);
    -webkit-tap-highlight-color: #5e117740;
    font: var(--font-familly--text);

    &[aria-current='page'] {
      border-bottom-color: var(--color--accent);
    }
  }
}

@media (any-hover: hover) {
  .navigation {
    a {
      &:hover {
        border-bottom-color: var(--color--gray-light);
        color: var(--color--accent);
      }

      &:focus {
        border-bottom-color: var(--color--gray-medium);
      }
    }
  }
}

@media (min-width: $screen-md) {
  .navigation {
    width: unset;
  }
}

@media (min-width: $screen-lg) {
  .navigation {
    ul {
      margin: unset;
      margin-top: 1rem;
    }

    li {
      padding-bottom: 1.5rem;
    }

    a {
      padding-bottom: calc(1.5rem - 4px);
    }
  }
}

/*
 * Breadcrumb
 */

.breadcrumb {
  display: flex;
  align-items: flex-end;
  gap: 0.25rem;

  ol {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 0 0.5rem;
    margin: unset;
  }

  li:not(:last-child):after {
    display: inline-block;
    margin: 0 0 0.05rem 0.35rem;
    transform: rotate(-45deg);
    border-right: 2px solid currentcolor;
    border-bottom: 2px solid currentcolor;
    height: 6px;
    width: 6px;
    content: '';
  }

  p {
    display: inline;
  }

  p,
  a {
    margin: unset;
    color: var(--color--text);
    text-decoration: unset;
    font-size: small;
    font-style: italic;
  }

  a[aria-current='page'] {
    color: var(--color--accent);
  }
}

@media (max-width: $screen-sm) {
  .breadcrumb {
    p {
      @include visually-hidden;
    }
  }
}
