:root {
  --font-familly--title: 'Lexend Deca', Verdana, sans-serif;
  --font-familly--text: 'Open Sans', Arial, sans-serif;
  --font-familly--code: monospace;

  --font--title: normal normal 400 medium var(--font-familly--title);
  --font--text: normal normal 400 medium / 1.75rem var(--font-familly--text);
  --font--code: normal normal 400 medium / 2rem var(--font-familly--code);
}

:is(h1, h2, h3, h4, h5, h6) {
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
  font: var(--font--title);
  color: var(--color--dark);
}

h1 {
  font-size: xxx-large;
  margin-bottom: 2rem;
}

h2 {
  font-size: xx-large;
  margin: 4rem 0 0.5rem;
}

h3 {
  font-size: x-large;
  margin: 2rem 0 0.5rem;
}

h4 {
  font-size: large;
  margin: 2rem 0 1rem;
}

h5 {
  font-size: large;
}

strong {
  font-weight: bold;
}

abbr {
  text-decoration: underline dashed;
}

i,
em {
  font-style: italic;
}

p,
li,
address,
blockquote {
  font: var(--font--text);
  color: var(--color--text);
}

figcaption,
img + em,
pre + p em {
  display: block;
  max-width: 52ch;
  margin: 0.5rem auto;
  font: var(--font--text);
  font-size: small;
  color: var(--color--text);
  font-style: italic;
  text-align: center;
  line-height: 1.5;
}

.visually-hidden {
  @include visually-hidden;
}

code {
  font: var(--font--code);
  color: var(--color--text-accentued);
  background-color: var(--color--gray-light);
  padding: 0.125rem 0.25rem;
}

pre {
  white-space: nowrap;

  .language-id {
    margin-bottom: 0.5rem;
    font-style: italic;

    &:before {
      content: 'Langage : ';
    }
  }

  code {
    padding: 0.5rem 0.75rem 0.5rem 0;
    overflow-x: auto;
    width: calc(100% - 1rem);
    margin-left: 0.5rem;
    background-color: unset;
    display: block;
  }

  .line {
    display: block;

    &:empty {
      display: none;
    }
  }
}

small {
  font-size: small;
}

sup {
  position: relative;
  top: -0.5rem;
  vertical-align: baseline;
  padding-left: 0.2rem;
  font-size: 75%;
  line-height: 0;
}

hr {
  border-bottom: 1px solid var(--color--gray-medium);
  margin: 1rem auto 1.5rem;
  width: 100%;
  max-width: 60ch;
}

ul.list,
ol.list {
  list-style: disc;
  padding-left: 1rem;

  ::marker {
    content: unset;
  }

  li + li {
    margin-top: 0.5rem;
  }
}
