:root {
  // https://type-scale.com/ - Major second on mobile, then Minor third, and Perfect fourth for bigger screens
  --font-size-h1: 1.802rem;
  --font-size-h2: 1.602rem;
  --font-size-h3: 1.424rem;
  --font-size-h4: 1.266rem;
  --font-size-h5: 1.125rem;
  --font-size-normal: 1rem;
  --font-size-small: 0.889rem;

  @include responsive(tablet) {
    --font-size-h1: 2.488rem;
    --font-size-h2: 2.074rem;
    --font-size-h3: 1.728rem;
    --font-size-h4: 1.44rem;
    --font-size-h5: 1.2rem;
    --font-size-small: 0.833rem;
  }

  @include responsive(desktop) {
    --font-size-h1: 4.209rem;
    --font-size-h2: 3.157rem;
    --font-size-h3: 2.369rem;
    --font-size-h4: 1.777rem;
    --font-size-h5: 1.333rem;
    --font-size-small: 0.75rem;
  }

  --font-familly-title: 'Lexend Deca', Verdana, sans-serif;
  --font-familly-text: 'Open Sans', Arial, sans-serif;
  --font-familly-code: monospace;

  --font-title: normal normal 400 var(--font-size-normal) var(--font-familly-title);
  --font-text: normal normal 400 var(--font-size-normal) var(--font-familly-text);
  --font-code: normal normal 400 var(--font-size-normal) var(--font-familly-code);
}

h1,
h2,
h3,
h4,
h5 {
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
  font: var(--font-title);
  text-transform: uppercase;
}

h1 {
  font-size: var(--font-size-h1);
  margin-bottom: 2rem;
}

h2 {
  font-size: var(--font-size-h2);
  margin: 4rem 0 .5rem;
}

h3 {
  font-size: var(--font-size-h3);
  margin: 2rem 0 .5rem;
}

h4 {
  font-size: var(--font-size-h4);
  margin: 2rem 0 1rem;
}

h5 {
  font-size: var(--font-size-h5);
}

strong {
  font-weight: bold;
}

p,
address,
li {
  font: var(--font-text);
}

.visually-hidden {
  @include visually-hidden;
}

code {
  font: var(--font-code);
  background-color: var(--color-gray-light);
  padding: .125rem .25rem;
}
