@import 'partial/mixin';

.portfolio_item {
  --content-max-width: #{$portfolio-max-width};

  h3 {
    color: var(--color-text);
  }

  > ul {
    list-style: square;
  }

  > p + ul {
    margin-top: unset;
  }

  figure > p {
    margin-bottom: 0.5rem;
  }

  .footnotes ol,
  > ul {
    padding-left: 1rem;

    ::marker {
      content: unset;
    }

    li + li {
      margin-top: 0.5rem;
    }
  }

  .footnotes {
    :target {
      outline: 2px dashed var(--color-accent);
    }

    ol {
      list-style: disc;

      p {
        margin: unset;
      }
    }
  }
}

.portfolio_item header {
  padding: 4rem 0;

  h1 {
    text-align: center;
    margin-bottom: unset;
  }

  p {
    text-align: center;
  }
}

.portfolio_item__cover {
  border: 2px solid var(--color-accent);
}

.portfolio_item__summary {
  display: flex;
  gap: 0 1rem;
  flex-direction: column;
  margin: 1rem 0 0;

  & > div {
    min-width: 20ch;

    &:not(:last-child) {
      flex: 2;
    }
  }

  h3 {
    font-size: var(--font-size-normal);
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    gap: .25rem;
  }

  p {
    margin-bottom: unset;
  }

  li:not(:last-child):after {
    content: '-';
    margin-left: .25rem;
  }
}

.portfolio_item__code_block {
  width: 100%;
  overflow: hidden;
}

.portfolio_item__review {
  display: flex;
  flex-direction: column-reverse;

  blockquote {
    margin-bottom: 1rem;

    &:before {
      content: '“';
      font-size: 2rem;
      font-family: var(--font-familly-title);
      line-height: 0;
      color: var(--color-accent);
    }
  }

  figcaption {
    max-width: unset;
    margin: unset;
    text-align: left;
    padding-left: 1ch;

    &:before {
      content: '–';
      margin-right: 0.25rem;
    }
  }
}

@media (min-width: $screen-md) {
  .portfolio_item__summary {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media (min-width: $screen-lg) {
  .portfolio_item header {
    padding-bottom: 6rem;
  }
}
