<a class="button button--backtotop" href="#top">
  <span>
    <svg focusable="false" aria-hidden="true" class="icon-arrow-up-thin">
      <use xlink:href="/images/icons.svg#icon-arrow-up"/>
    </svg>
    Back to top
  </span>
</a>
