<a class="button button--backtotop button--with-icon" href="#top">
  <svg focusable="false" aria-hidden="true" class="icon-arrow-up-thin">
    <use xlink:href="/images/icons.svg#icon-arrow-up"></use>
  </svg>
  <span>Haut de page</span>
</a>
