---
import { NAVIGATION } from '../../config';
import { getCurrentPageSlug } from '../../util';

const currentPageSlug = getCurrentPageSlug(new URL(Astro.request.url).pathname);
---

<nav class="navigation" aria-label="Principale" role="navigation">
  <ul>
    {NAVIGATION.map((element) => (
      <li>
        <a aria-current={currentPageSlug === element.link ? 'page' : 'false'} aria-label={`Page ${element.name}`} href={`${Astro.site.pathname}${element.link}`}>
          {element.name}
        </a>
      </li>
    ))}
  </ul>
</nav>
