---
import BaseLayout from "~layouts/BaseLayout.astro";
import Date from "~components/Content/Date.astro";
import HiddenLink from "~components/Content/HiddenLink.astro";
import { HiddenTypes } from "src/util";

---

<BaseLayout title="Conditions Générales de Vente" description="Conditions Générales de Vente des prestations vendues par Martin Beaumont EI">
  <main id="content" class="page_legal">
    <article>
      <header>
        <h1>Conditions Générales de Vente &ndash; Martin&nbsp;Beaumont<wbr>&nbsp;EI</h1>
        <p>Mis à jour le <Date datetime="2025-04-20" /></p>
      </header>
      <details>
        <summary>Historique des CGV et téléchargement en PDF</summary>
        <ul class="list">
          <li>Version du 20 avril 2025 &ndash; <a href="https://www.martinbeaumont.dev/pdf/cgv-20250420.pdf" target="_blank">Consulter le PDF</a></li>
          <li>Version du 21 Septembre 2023 &ndash; <a href="https://www.martinbeaumont.dev/pdf/cgv-20230921.pdf" target="_blank">Consulter le PDF</a></li>
          <li>Version du 1<sup>er</sup> Septembre 2023 &ndash; <a href="https://www.martinbeaumont.dev/pdf/cgv-20230901.pdf" target="_blank">Consulter le PDF</a></li>
        </ul>
      </details>
      <p>
        Les présentes conditions générales de vente ci-après dénommées "Conditions
        Générales", sont conclues entre, d’une part Martin Beaumont sous le statut
        d’Entrepreneur Individuel, domicilié <HiddenLink type={HiddenTypes.address} value="9 rue d'Avesnières - 53000 Laval" />, dont le numéro
        de SIRET est 840 877 591 00056 ci-après dénommé "Prestataire", et d’autre part toute
        personne morale souhaitant bénéficier d’une prestation dénommée ci-après "Client".
      </p>
      <h2>Objet :</h2>
      <p>
        Les Conditions Générales décrites ci-après détaillent les droits et obligations du
        Prestataire et de son Client dans le cadre de la vente des prestations réalisées. Toute
        acceptation du devis/bon de commande comportant la mention « L’acceptation du
        présent document atteste la prise de connaissance et l’acceptation sans réserve des
        Conditions Générales de Vente ci-annexées » implique l'adhésion sans réserve du
        Client aux présentes Conditions Générales.
      </p>
      <h2>Tarifs :</h2>
      <p>
        Les prix des prestations vendues sont ceux en vigueur au jour de la prise de
        commande. Ils sont libellés en euros et calculés hors taxe. Par voie de conséquence, ils
        seront majorés du taux de TVA applicable au jour de la livraison. Le Prestataire
        s'accorde le droit de modifier ses tarifs à tout moment. Toutefois, il s'engage à facturer
        les Prestations commandées aux prix indiqués lors de la réalisation du devis.
      </p>
      <h2>Modalités de paiement :</h2>
      <p>
        Le règlement des commandes s'effectue par virement bancaire. Aucun escompte en
        cas de paiement anticipé. Le paiement des prestations ponctuelles s’effectue par un
        acompte de 40 % à la signature du devis et 60 % à la livraison de la prestation, sauf
        mention contraire au devis. En l’absence du versement l’acompte, le Prestataire se
        réserve le droit de ne pas débuter sa prestation. L’acompte versé ne pourra pas être
        remboursé en cas d’annulation de la part du Client. Les prestations récurrentes et
        forfaits temps sont facturés mensuellement, étant convenus que le montant total indiqué
        au devis pour les Prestations correspondantes sera réparti par parts égales sur le
        nombre de mois d’engagement.
      </p>
      <h2>Retard de paiement :</h2>
      <p>
        En cas de défaut de paiement total ou partiel des prestations légitimement facturées, le
        client doit verser au Prestataire une pénalité de retard égale à 20 % (taux fixe annuel),
        ainsi qu’une indemnité forfaitaire de 40€ au titre des frais de recouvrement. Cette
        pénalité est calculée sur le montant TTC de la somme restante due, et court à compter
        de la date d'échéance de la facture sans qu'aucune mise en demeure préalable ne soit
        nécessaire. La date d'échéance du prix est fixée à 30 jours après la date de la livraison
        de la prestation.
      </p>
      <h2>Cahier des charges – délais :</h2>
      <p>
        Pour chaque prestation, un cahier des charges est demandé afin de cadrer au mieux
        les exigences du projet. Le cahier des charges peut notamment servir à l'élaboration
        d'un devis. Le cahier des charges peut être fourni indifféremment par le Client ou le
        Prestataire. Dans le cas où le Prestataire est missionné pour concevoir le cahier des
        charges d'un projet, celui-ci fera l'objet d'une demande de devis préalablement à sa
        facturation. Au regard des exigences du projet, un planning ou rétroplanning est réalisé
        par le Prestataire, mentionnant les délais auxquels le Client doit fournir au Prestataire
        les contenus textuels et graphiques permettant la réalisation de la prestation. Dans
        l’hypothèse d’une remise tardive des documents ou informations par le Client, un
        nouveau planning de réalisation sera transmis par le Prestataire. Les délais de livraison
        indiqués par le Prestataire sont basés sur son expérience. Le Prestataire s’engage à
        respecter au mieux le délai estimé, et se réserve le droit de rallonger le délai de
        livraison fixé d’une durée de 15 %, ou une journée ouvrable minimum dans le cas de
        prestations de courte durée.
      </p>
      <h2>Engagements du client :</h2>
      <p>
        Le Client s'engage à fournir tous les éléments nécessaires pour réaliser la prestation
        (texte, images, vidéos, sons…) au format demandé, et ce dans des délais indiqués par
        le Prestataire, afin que celui-ci dispose de suffisamment de temps pour réaliser la
        prestation dans de bonnes conditions et dans les délais fixés entre les deux parties. Le
        Client s'engage à ne pas demander de réparation ni à rechercher le Prestataire ou ses
        partenaires en responsabilité, sur un quelconque préjudice ou dommage direct ou
        indirect imputable à leurs prestations. Le Client accepte expressément de ne jamais
        associer ni directement ni indirectement le Prestataire ou ses partenaires à ses propres
        devoirs et obligations. Le Client reconnaît avoir connaissance et être le débiteur de
        l’obligation de respect des mises en garde légale concernant les lois du copyright, de la
        propriété intellectuelle, les mentions légales à faire paraître, de la conformité avec le
        RGPD, et les peines pouvant être encourues au titre de leur violation, le Prestataire ne
        pouvant se substituer à lui dans ces obligations légales. Le Client garantit au
        Prestataire une prise en charge de toute condamnation, frais, honoraires mis à charge.
      </p>
      <h2>Exception d’inexécution :</h2>
      <p>
        Le Prestataire peut décider de refuser, d'interrompre ou de modifier la prestation, et ce
        sans indemnités au profit du Client ni remboursement d'acompte, dès l'instant où : le
        Client ne s'acquitte pas des sommes facturées par le Prestataire ; le Client ne démontre
        pas, ou plus, un gage suffisant de solvabilité ; le Client ne présente pas ou plus les
        compétences nécessaires et spécifiques à la réalisation complète de la prestation, soit
        parce que le Client manifeste une opposition systématique aux conseils et prestations
        prodigués par le Prestataire, soit parce que le Client se refuse à fournir les instructions
        ou sources nécessaires à la réalisation définitive de la prestation ; le Prestataire
        constate tout acte de piratage, de fraude ou de non-respect des règles éthiques,
        juridiques ou morales de la profession, imputable au Client. L’interruption n’est pas
        libératoire, et les montants à payer restent pleinement exigibles. Dans le cas où une
        prestation fait l'objet d'une interruption définitive, que celle-ci soit à l'initiative du Client
        ou du Prestataire, le Prestataire a toute latitude, après avoir informé son Client, de
        vendre, de détruire, de renouveler pour son propre compte ou celui de tiers, ou de ne
        pas renouveler tout actif inclus dans la prestation.
      </p>
      <h2>Responsabilité du Prestataire :</h2>
      <p>
        Le Prestataire décline toute responsabilité et ne pourra jamais être mis en cause en cas
        de dysfonctionnement, de perte de données, de perte de service, de perte financière
        sur l'ensemble de ses prestations
      </p>
      <h2>Droit de rétractation :</h2>
      <p>
        Selon les modalités de l’article L221-3 du Code de la Consommation, le Client dispose
        d'un délai de quatorze jours pour exercer son droit de rétractation, à compter du jour de
        la signature du devis et du versement de l’acompte. Le droit de rétractation peut être
        exercé en exprimant sa volonté de se rétracter, par lettre recommandée avec accusé de
        réception adressé au Prestataire.
      </p>
      <h2>Livraison :</h2>
      <p>
        Selon les conditions fixées lors du devis/bon de commande, la livraison est effectuée
        soit par la remise directe des éléments de la prestation au Client, par serveur de
        stockage ou par téléchargement sFTP, soit par la mise en ligne des éléments de la
        prestation sur l’infrastructure d’hébergement Web du Client.
      </p>
      <h2>Allers-retours – modification après livraison :</h2>
      <p>
        Dans le cadre de la réalisation des prestations, et notamment des prestations
        d'intégration Web, le Client a la possibilité d’effectuer des demandes d’ajustement. En
        ce sens, les allers-retours sont définis au nombre de deux. Au-delà de ce nombre, les
        demandes d’ajustement suivantes feront l’objet d’un devis préalable et d’une facturation
        complémentaire. Le Client dispose d’un délai de 15 jours francs à partir de la livraison
        de la Prestation pour réaliser ses demandes d’ajustement auprès du Prestataire. Sans
        retour de sa part à l’issue de ce délai, la prestation sera automatiquement réputée
        validée et finalisée.
      </p>
      <h2>Garantie :</h2>
      <p>
        Les prestations et services fournis par le prestataire sont garantis pour une durée de 30
        jours à compter de la date de livraison définitive. Au-delà de ces 30 jours, le prestataire
        se décharge de toute responsabilité et ne peut être tenu responsable de tout
        dysfonctionnement relatif aux prestations fournies. Les mises à jours de services tiers et
        les modifications effectuées par le Client sont exclues de ces garanties.
      </p>
      <h2>Images et droits :</h2>
      <p>
        Le Client doit s’assurer que les photographies et images fournies au Prestataire sont
        réputées libres de droits. Le Client autorise le Prestataire à les modifier et les utiliser sur
        des supports tiers. Le Client s’assure que les personnes figurant sur les photographies
        réalisées par le Client ou pour le compte du Client consentent à leur diffusion. Le Client
        prend à sa charge les conséquences issues d’une demande de réparation, provenant
        de ces personnes et invoquant le droit à l’image.
      </p>
      <h2>Droit de promotion – mention commerciale :</h2>
      <p>
        Sauf contre-indication explicite et écrite exprimée par le client, celui-ci est informé qu’un
        lien vers son site ainsi qu’une éventuelle étude de cas sont susceptibles d’être publiés
        sur le site du prestataire à des fins de promotions commerciales. Une fois la prestation
        livrée, le Prestataire se réserve le droit d’inclure, aux mentions légales du site, une
        mention discrète correspondant aux prestations respectives réalisées durant la mission.
        Cette mention sera accompagnée d’un lien pointant vers le site du Prestataire. Le client
        s’engage à ne pas retirer, modifier, ni masquer celle-ci sans accord écrit du Prestataire.
      </p>
      <h2>Force majeure :</h2>
      <p>
        La responsabilité du Prestataire ne pourra pas être mise en œuvre si la non-exécution
        ou le retard dans l'exécution de l'une de ses obligations décrites dans les présentes
        Conditions Générales découle d'un cas de force majeure. À ce titre, la force majeure
        s'entend de tout événement extérieur, imprévisible et irrésistible au sens de l'article
        1148 du Code civil.
      </p>
      <h2>Confidentialité – RGPD:</h2>
      <p>
        Au titre de la confidentialité et pendant toute la durée des présentes et même après leur
        cessation pour quelque cause que ce soit, le Prestataire s’engage à conserver
        strictement confidentiel l’ensemble des informations et documents de quelque nature
        que ce soit relatif au Client, auxquels il aurait pu avoir accès dans le cadre notamment
        de l’exécution de la présente mission. Le Prestataire ne vend ni ne loue les informations
        personnelles du client à des tiers. Elles sont destinées exclusivement à un usage
        interne. Conformément à la Loi n° 78-17 du 6 janvier 1978, dite loi «Informatique et
        Libertés», le client dispose d’un droit d’accès, de modification, de rectification et de
        suppression de toutes données personnelles (art.34 de la loi «Informatique et
        Libertés»). Ce droit pourra être exercé en envoyant un e-mail à l'adresse mail suivante : 
        <HiddenLink type={HiddenTypes.mail} value="rgpd@martinbeaumont.dev" />
      </p>
      <h2>Réserve de propriété :</h2>
      <p>
        Le Prestataire conserve l'entière propriété de la prestation et de chacun de ses
        éléments, y compris immatériel, jusqu'au paiement effectif de l'intégralité du prix et
        accessoire, et plus généralement jusqu'au règlement total de toute facturation due par
        le Client au Prestataire. Le Prestataire se réserve le droit de suspendre
        momentanément tout service produit par ses soins sans délai préalable ni réclamation
        ultérieure possible.
      </p>
      <h2>Tribunal compétent :</h2>
      <p>
        Tout litige relatif à l'interprétation et à l'exécution des présentes Conditions Générales
        est soumis au droit français. Les parties chercheront, préalablement à toute procédure
        contentieuse, une solution amiable aux différends qui pourraient survenir. À défaut de
        résolution amiable, le litige sera porté devant le tribunal de commerce de Laval.
      </p>
    </article>
  </main>
</BaseLayout>
