---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro." description="My site description">
  <main>
    <h1>Welcome to <a href="https://github.com/martinbmnt/astro-starter">@martinbmnt<wbr/>/astro-starter</a></h1>
    <p>Check out the <code>src/</code> directory to get started.</p>
  </main>
</Layout>
