---
import Layout from '~layouts/Layout.astro';
import HiddenLink from '~components/Content/HiddenLink.astro';
import Date from '~components/Content/Date.astro';
import { HiddenTypes } from 'src/util';
---

<Layout title="Politique de confidentialité" description="Politique de confidentialité du site martinbeaumont.dev">
  <main id="content" class="page_legal">
    <header>
      <h1>Politique de confidentialité</h1>
      <p>Mis à jour le <Date datetime="2022-11-20" /></p>
    </header>
    <p>
      L'Entrepreneur Individuel (EI) Martin Beaumont s'engage à ce que la collecte et le traitement de données personnelles effetuées sur martinbeaumont.dev soient conformes
      au réglement général sur la protection des données (RGPD) et à la loi Informatique et Libertés.
    </p>
    <h2>Exercer vos droits</h2>
    <p>
      Pour toute information ou exercice de vos droits Informatique et Libertés sur les traitements de données personnelles gérés par Martin Beaumont, vous pouvez contacter
      le délégué à la protection des données (DPD) et responsable de publication :
    </p>
    <ul>
      <li>Par mail à l'adresse suivante : <HiddenLink type={HiddenTypes.mail} value="hello@martinbeaumont.dev" /></li>
      <li>
        Par courrier au siège social de Martin Beaumont (EI) :
        <HiddenLink type={HiddenTypes.address} value="Martin Beaumont (EI) - 55 rue de la Paix - 53000 Laval" />
      </li>
    </ul>
    <h2>À propos des cookies</h2>
    <h3>Qu'est-ce qu'un "cookie" ?</h3>
    <p>
      Un « cookie » est un petit fichier texte transmis par un site web sur lequel vous naviguez et déposé sur votre terminal (ordinateur, tablette, smartphone…). Votre navigateur
      web le conservera alors pendant une certaine durée, et renverra au serveur web les informations enregistrées chaque fois que vous vous reconnecterez au site en question. Les
      cookies ont de multiples utilités : par exemple ils mémorisent vos choix de personnalisation, des informations pour vous éviter de les ressaisir, un identifiant (anonyme)
      pour suivre votre navigation à des fins statistiques et d'amélioration d'un service, le contenu de votre panier d'achat dans le cas d'un site marchand…
    </p>
    <h3>Les cookies et autres traceurs utilisés sur martinbeaumont.dev</h3>
    <p>Sur martinbeaumont.dev, <strong>aucun cookie n'est utilisé</strong>.</p>
    <h3>Moyens d'opposition au dépôt des cookies via votre navigateur</h3>
    <p>Vous pouvez à tout moment choisir de désactiver l'ensemble des cookies. Voici les procédures pour bloquer toute création de cookies à partir des options de votre navigateur :</p>
    <ul class="list">
      <li><a href="https://support.mozilla.org/fr/kb/activer-desactiver-cookies" title="Firefox - Lien externe" target="_blank" rel="noopener noreferer nofollow">Firefox</a></li>
      <li><a href="https://support.google.com/chrome/answer/95647?hl=fr" title="Chrome - Lien externe" target="_blank" rel="noopener noreferer nofollow">Chrome</a></li>
      <li><a href="http://support.apple.com/kb/PH17191?viewlocale=fr_FR" title="Safari - Lien externe" target="_blank" rel="noopener noreferer nofollow">Safari</a></li>
      <li><a href="http://help.opera.com/Windows/10.20/fr/cookies.html" title="Opera - Lien externe" target="_blank" rel="noopener noreferer nofollow">Opera</a></li>
    </ul>
  </main>
</Layout>
