---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Présentation" description="Après un DUT, une licence pro, et deux ans en alternance, j'ai choisi de continuer la création de site internet en free-lance.">
  <main class="page_about">
    <header>
      <h1>Développeur Web <span>free-lance</span>.</h1>
      <p>Entrepreneur individuel qui conçoit des sites internet pour répondre au besoin de ses clients.</p>
    </header>
    <hr />
    <section class="page_about__presentation">
      <h2 class="visually-hidden">Présentation</h2>
      <p>
        Bonjour, je m'appelle Martin, et je suis développeur Web (mais également intégrateur, concepteur d'applications Web, ou encore "webmestre").
        Depuis 2018, je crée des <strong>sites internet performants, sécurisés et adaptatifs</strong> pour répondre aux besoins de mes clients.
        Selon les projets, j'utilise des systèmes de gestion de contenu (CMS) comme <a href="/technologie/cms-wordpress">WordPress</a>,
        ou bien des <i lang="en">frameworks</i> tels que <a href="/technologie/framework-symfony">Symfony</a> pour des projets sur-mesure.
      </p>
      <p>
        Lors de mes formations, j'ai appris à utiliser les bonnes sémantiques et structures des sites et de leurs contenus, afin de les optimiser pour le
        <a href="/service/optimisation-referencement-naturel-local">référencement naturel et local (SEO et Local SEO)</a>.
        Que ce soit pour la <a href="/service/creation-refonte-site-internet">création ou la refonte d'un site Web</a>, j'accorde une grande importance
        à l'<strong>accessibilité des pages et du contenu (a11y)</strong>, ainsi qu'à l'optimisation des ressources, avec des principes d'écoconception.
      </p>
    </section>
    <section class="page_about__work">
      <h2>Expériences</h2>
      <ol>
        <li>
          <h3>Freelance</h3>
          <p><small>Depuis septembre 2020</small></p>
          <p>
            Après la fin de mes études, j'ai décidé de continuer à travailler dans le développement Web à mon compte.
            Création de Web applications, intégration de sites internet et de portfolios ...
            Je rends réels les projets (virtuels) de mes clients.
          </p>
          <p><a href="/realisations">Voir mes réalisations</a></p>
        </li>
        <li>
          <h3>Intervenant à l'IUT de Laval</h3>
          <p><small>Avril & mai 2022</small></p>
          <p>
            Avec deux amis développeur Web, nous avons donné des cours de Bases De Données
            (<abbr title="Modèle Conceptuel de Données et Modèle Logique de Données">MCD et MLD</abbr>, <abbr title="Structured Query Language">SQL</abbr>)
            à des étudiants de première année de DUT MMI, en remplacement d'un professeur.
          </p>
        </li>
        <li>
          <h3>Alternant Développeur Web</h3>
          <p><small>Septembre 2019 - Septembre 2020</small></p>
          <p>
            Lors de ma LP DIWA, j'ai effectué mon alternance chez <a href="https://www.luminess.eu" rel="noopener nofollow noreferrer" target="_blank">Luminess</a> (anciennement Jouve)
            comme <strong>Développeur Web Symfony</strong>, dans une équipe d'une vingtaine de personnes.
          </p>
          <p>
            Cette année de professionnalisation m'a permis de travailler dans des secteurs divers, tels que le traitement de données bancaires,
            les sites institutionnels ou d'<i lang="en">Open Data</i>.
          </p>
        </li>
        <li>
          <h3>Alternant Développeur Web</h3>
          <p><small>Septembre 2018 - Septembre 2019</small></p>
          <p>
            J'ai réalisé ma deuxième année de DUT MMI en alternance chez <a href="https://72mis.fr" rel="noopener nofollow noreferrer" target="_blank">Maine Image Santé</a>, en
            tant que Développeur Web. Ma mission principale était de <strong>créer le nouveau site internet</strong> de ce groupe d'imagerie médicale sarthois.
          </p>
          <p><a href="/projet/maine-image-sante">Plus d'informations sur ce projet</a></p>
        </li>
      </ol>
    </section>
    <section class="page_about__training">
      <h2>Formations</h2>
      <ol>
        <li>
          <h3>LP DIWA</h3>
          <p><small>2019 - 2020</small></p>
          <p>
            La <strong>Licence Professionnelle "Développeur et Intégrateur de Web Applications"</strong> à l'IUT de Laval aborde
            des notions techniques du développement Web coté client et serveur, notamment avec les <i lang="en">frameworks</i> Symfony et React.
          </p>
        </li>
        <li>
          <h3>DUT MMI</h3>
          <p><small>2017 - 2019</small></p>
          <p>
            Le <strong>DUT Métiers du Multimédia et de l'Internet</strong> est une formation bac+2 (remplacé en 2021 par les BUT, en bac+3).
            Le contenu est pluridisciplinaire, avec de la programmation, de la communication et de la création graphique.
          </p>
        </li>
      </ol>
    </section>
  </main>
</Layout>
