---
import { SITE } from '../../config';
---

<header class="header">
  <a href={Astro.site.pathname}>
    <strong>{SITE.title}</strong>
    <small>Développeur Web free-lance.</small>
  </a>
</header>
