---
const year = new Date().getFullYear();
---

<footer class="footer">
  <div class="footer__legal">
    <p>{Astro.site.host.replace(/www\./, '')} {year} &ndash; Tous droits réservés.</p>
    <p><a href="/mentions-legales">Mentions légales</a></p>
  </div>
</footer>
