---
const year = new Date().getFullYear();
---

<footer class="footer">
  <div>
    <p>Martin Beaumont</p>
    <p>Développeur Web free-lance</p>
    <p>Fait avec ❤️ à Laval &ndash; {year}</p>
  </div>
  <div>
    <p>Informations :</p>
    <ul>
      <li><a href="/mentions-legales">Mentions légales</a></li>
      <li><a href="/politique-confidentialite">Politique de confidentialité</a></li>
      <li><a href="https://github.com/martinbmnt/martinbeaumont.dev" target="_blank" rel="nofollow noopener">Code source</a></li>
    </ul>
  </div>
</footer>
