---
import ProjectLayout from "~layouts/ProjectLayout.astro";
import ProjectCode from "~components/Project/ProjectCode.astro";
import { Picture } from "@astrojs/image/components";

import cover from '~images/project/ze-astronaut-cover.jpg';
import galaxyPicture from '~images/project/ze-astronaut-galaxy.jpg';

const content = {
  title: 'Agence Ze Astronaut',
  excerpt: "Intégration des maquettes pour la création du site internet de l'agence Ze Astronaut",
  site: 'https://zeastronaut.com',
  technologies: ["Astro", "TypeScript", "Sass", "Git", "GitHub Actions", "Adobe XD"],
  services: ["Intégrations des maquettes", "Référencement", "Intégration et déploiement continus", "Gestion de l'hébergement"],
  publishDate: '2022-11-26T14:00:00',
  updateDate: null,
  cover: cover,
  coverAlt: "Page d'accueil du site Web de l'agence Ze Astronaut, visible sur zeastronaut.com",
  coverSEO: '/images/project/portfolio-thurb-social.png',
};

/* eslint-disable no-irregular-whitespace */
const codeBlock = `
.page_project__header {
  background-image: url('/images/project/club-alliance-voyages/banner-mobile-720.webp'); // fallback
  background-image: image-set(
    url('/images/project/club-alliance-voyages/banner-mobile-720.webp') 1x,
    url('/images/project/club-alliance-voyages/banner-mobile-1080.webp') 2x
  );
}
/* bigger screens */
@media (min-width: 62em) {
  .page_project__header {
    background-image: url('/images/project/club-alliance-voyages/banner-1920.webp'); // fallback
    background-image: image-set(
      url('/images/project/club-alliance-voyages/banner-1920.webp') 1x,
      url('/images/project/club-alliance-voyages/banner-2560.webp') 2x
    );
  }
}
`;
/* eslint-enable no-irregular-whitespace */
---

<ProjectLayout {...content}>
  <h2>Présentation de l'agence</h2>
  <p>Ze&nbsp;Astronaut est une agence de communication basée sur Paris, travaillant sur tout ce qui a trait à la communication de marques et d'entreprises sur les réseaux sociaux et dans le monde réel.</p>
  <p>Suite à notre première collaboration pour la <a href="/projet/boosh-b">création du site internet des restaurants Boosh-B</a>, l'agence a choisi de faire appel à mes services pour l'<strong>intégration des maquettes</strong> de leur nouveau site Web.</p>
  <h2>Programme de la mission</h2>
  <p>De même que pour le site des restaurants Boosh-B, la maintenance du site ne nécessite pas un système de gestion de contenu, j'ai choisi d'utiliser <em lang="en">Astro</em><sup><a href="#fn-1" id="fnref-1" aria-describedby="footnote-label">1</a></sup>, un <strong>générateur de sites statiques</strong>.</p>
  <p>La charte graphique de l'agence Ze&nbsp;Astronaut est orientée sur l'espace, avec des éléments décoratifs comme des fusées ou des planètes ci et là, ainsi que des photographies ou des références historiques.</p>
  <h3>Animations et interactions</h3>
  <p>L'agence souhaite dynamiser visuellement son site Web avec des animations d'apparitions du contenu sur la quasi-totalité des pages, ainsi que de l'interactivité sur un élément de la page d'accueil.</p>
  <figure>
    <Picture alt="Aperçu du bloc des expertises présent sur la page d'accueil, où la galaxie et l'astronaute tournent selon l'expertise sélectionée." src={galaxyPicture} widths={[420, 840, 1280]} aspectRatio="1280:645" sizes="(min-width: 58.5em) 56em, 100vw" />
    <figcaption>Sur la page d'accueil du site, le bloc des expertises comporte quatre onglets, faisant tourner la galaxie et l'astronaute lors du clic sur un pôle d'expertise.</figcaption>
  </figure>
  <p>L'animation principale est sur la présentation des pôles d'expertises de la page d'accueil. Une galaxie réalisée en SVG (un format d'image vectoriel) s'anime lorsque l'utilisateur sélectionne un pôle différent, en tournant l'astronaute et les planètes autour.</p>
  <p style="text-align: center;">
    <a class="button button--with-icon" href="https://www.zeastronaut.com/#home-expertises" rel="noopener" target="_blank">
      <span>Voir l'animation sur le site de <span style="text-transform: capitalize;">Ze&nbsp;Astronaut</span></span>
      <svg focusable="false" aria-hidden="true" class="icon-arrow-right-thin">
        <use xlink:href="/images/icons.svg#icon-arrow-right"></use>
      </svg>
    </a>
  </p>
  <h3>Fonctionnalités CSS modernes</h3>
  <p>Le CSS est un langage permettant de styliser le HTML, et il continue d'évoluer avec de nouvelles fonctionnalités en permanence. Pour le site de Ze&nbsp;Astronaut, j'ai utilisé des propriétés récentes, mais avec une bonne compatibilité sur les navigateurs, comme <code lang="en">inset: 0;</code> pour remplacer <code lang="en">top: 0; left: 0; right: 0; bottom: 0;</code>, ou encore <code lang="en">aspect-ratio</code> permettant d'indiquer un ratio entre la largeur et la hauteur d'un élément.</p>
  <h4>Arrières-plans adaptatifs</h4>
  <p>Les pages de présentation des projets comportent toutes une bannière, verticale sur smartphone, et horizontale sur les autres écrans. Pour afficher une image de bonne qualité, adaptée à la résolution de l'écran, mais avec une taille de fichier raisonnable, j'ai opté pour la propriété CSS <code lang="en">image-set</code>.</p>
  <p>Cette propriété permet de fournir plusieurs images en indiquant la résolution (<code lang="en">1x</code>, <code lang="en">2x</code>) ou différent formats de fichier (<code lang="en">type("image/webp")</code>, <code lang="en">type("image/avif")</code>), tout en laissant le navigateur choisir ce qui lui semble le plus adapté.</p>
  <ProjectCode title="Extrait du code source de la feuille de style des projets, pour proposer plusieurs tailles de l'image d'arrière plan, selon la résolution de l'écran." lang="sass" code={codeBlock} />
  <section class="portfolio_item__footnotes" aria-labelledby="footnote-label">
    <h2 id="footnote-label">À propos</h2>
    <ol class="list">
      <li id="fn-1">
        Plus d'informations sur Astro : <a href="https://astro.build/" rel="noopener noreferrer nofollow" target="_blank">astro.build</a> <a href="#fnref-1" aria-label="Revenir au contenu">↩</a>
      </li>
    </ol>
  </section>
</ProjectLayout>
