---
import ProjectLayout from "~layouts/ProjectLayout.astro";

import cover from "~images/project/boosh-b-cover.jpg";
import ProjectCode from "~components/Project/ProjectCode.astro";

const content = {
  title: 'Restaurants Boosh-B',
  excerpt: "Intégration des maquettes réalisées par l'agence ZeAstronaut pour les restaurants Boosh-B.",
  site: 'https://booshb.com',
  technologies: ["Astro", "TypeScript", "Sass", "Git", "GitHub Actions", "Adobe XD"],
  services: ["Intégrations des maquettes", "Référencement", "Intégration et déploiement continus", "Gestion de l'hébergement"],
  publishDate: '2022-08-22T14:00:00',
  updateDate: null,
  cover: cover,
  coverAlt: "Page d'accueil du site des restaurants Boosh-B, visible sur booshb.com",
  coverSEO: '/images/project/boosh-b-social.png',
};

/* eslint-disable no-irregular-whitespace */
const codeBlock = `
<ProductLayout title="Le Boosh B" category={ProductCategory.Burger} image="/images/product/burger-boosh-b.png" description="...">
   <Ingredients vegetables="Galette de pommes de terre,Iceberg" meats="Boeuf,Poitrine de porc grillée,Oeuf" cheeses="Cheddar affiné" sauces="Sauce secrète" />
   <Allergens content="Traces de céréales, oeuf, soja, lait, fruits à coques, moutarde, graines de sésame, lupin" />
   <Menu product="Burger Boosh B" productPicture="/images/product/burger-boosh-b-menu.jpg" side={ProductSide.ChickenCroquettes} drink={ProductDrink.CocaCola} />
</ProductLayout>
`;
/* eslint-enable no-irregular-whitespace */
---

<ProjectLayout {...content}>
  <h2>Le projet</h2>
  <p>L'agence de communication ZeAstronaut<sup><a href="#fn-1" id="fnref-1" aria-describedby="footnote-label">1</a></sup> réalise le lancement des restaurants de burgers et bagels <em>Boosh-B</em>, sur les réseaux sociaux et sur le Web.</p>
  <p>Dans le cadre de la création de leur site internet, ZeAstronaut a fait appel à mes services pour l'<strong>intégration des maquettes</strong> qu'ils ont auparavant réalisées sur <em>Adobe XD</em>.</p>
  <h2>Détail de la mission</h2>
  <p>Le site comporte quelques pages informatives, un formulaire de contact, ainsi que la carte des restaurants, où les pages des produits sont classées par catégorie. Le site n'a pas besoin d'être dynamique, car le contenu ne changera pas régulièrement.</p>
  <p>J'ai cherché une solution technique qui permette d'utiliser des modèles de pages pour les contenus récurrents, tels que les pages des produits et des catégories de produits, et qui <strong>génère des pages statiques en HTML lors de la compilation</strong>.</p>
  <p>Mon choix s'est porté sur Astro<sup><a href="#fn-2" id="fnref-2" aria-describedby="footnote-label">2</a></sup>, un générateur de sites statiques orienté pour la performance, facile à prendre en main, mais avec un grand nombre de possibilités.</p>
  <h3>Intégration du site Web</h3>
  <p>Le contenu du site est simple à intégrer, mais les éléments graphiques décoratifs viennent compliquer le responsive (l'adaptation de la mise en page selon la taille de l'écran). </p>
  <p>Pour les contenus récurrents, j'ai créé plusieurs <strong>composants réutilisables qui génèrent le contenu selon des paramètres précisés</strong>.</p>
  <p>Par exemple, pour le burger Boosh-B<sup><a href="#fn-3" id="fnref-3" aria-describedby="footnote-label">3</a></sup>, j'utilise un composant pour afficher les ingrédients selon leur catégorie, et un autre pour le menu avec les variantes d'accompagnement et de boisson :</p>
  <ProjectCode title="Exemple du code source de la page produit du burger Boosh-B." lang="astro" code={codeBlock} />
  <h3>Déploiement automatisé</h3>
  <p>Pour gagner du temps et m'assurer que les mises à jour ne comportent pas de problèmes, j'ai mis en place une <strong>intégration continue et un déploiement continu (CI/CD)</strong>.</p>
  <p>L'intégration continue va analyser le code et vérifier qu'il respecte un certain nombre de règles et bonnes pratiques grâce à <em>ESLint</em>, puis tester l'accessibilité du site avec <em>Pa11y</em>.</p>
  <p>En parallèle, le déploiement continu envoie les nouveaux fichiers sur un serveur de préproduction, pour permettre (entre autres) au commanditaire de vérifier les modifications.</p>
  <p>Une fois les modifications vérifiées et validées, je peux publier la nouvelle version du site, et une autre GitHub Action va <strong>déployer automatiquement les modifications sur le serveur de production</strong>.</p>
  <section class="portfolio_item__footnotes">
    <h2 id="footnote-label">À propos</h2>
    <ol class="list">
      <li id="fn-1">
        Site internet de l'agence ZeAstronaut : <a href="https://zeastronaut.com/" rel="noopener" target="_blank">zeastronaut.com</a> <a href="#fnref-1" aria-label="Revenir au contenu">↩</a>
      </li>
      <li id="fn-2">
        Plus d'informations sur Astro : <a href="https://astro.build/" rel="noopener noreferrer nofollow" target="_blank">astro.build</a> <a href="#fnref-2" aria-label="Revenir au contenu">↩</a>
      </li>
      <li id="fn-3">
        Voir le burger Boosh-B sur le site des restaurants : <a href="https://booshb.com/produit/burger-boosh-b" rel="noopener noreferrer nofollow" target="_blank">booshb.com/produit/burger-boosh-b</a> <a href="#fnref-3" aria-label="Revenir au contenu">↩</a>
      </li>
    </ol>
  </section>
</ProjectLayout>
