---
import ProjectLayout from "~layouts/ProjectLayout.astro";
import { Picture } from "@astrojs/image/components";

import cover from '~images/project/maine-image-sante-cover.jpg';
import structuredDataPicture from '~images/project/maine-image-sante-structured-data.jpg'

const content = {
  title: 'Maine Image Santé',
  excerpt: "Refonte du site institutionnel du groupe d'imagerie médicale sarthois Maine Image Santé.",
  site: 'https://72mis.fr',
  technologies: ["WordPress", "PHP", "Sass"],
  services: ["Développement du thème WordPress", "Design", "Référencement", "Formation"],
  publishDate: '2022-08-19T14:00:00',
  updateDate: null,
  cover: cover,
  coverAlt: "Page d'accueil du site de Maine Image Santé, visible sur 72mis.fr",
  coverSEO: '/images/project/maine-image-sante-social.png',
};
---

<ProjectLayout {...content}>
  <h2>Présentation du groupe</h2>
  <p><strong>Ce projet a été réalisé dans le cadre de mon alternance de deuxième année de DUT MMI, en 2018.</strong></p>
  <p>Maine Image Santé est une société de radiologie et d'imagerie médicale, qui pratique des examens dans neuf centres et services d'imagerie, au Mans et en Sarthe (72).</p>
  <p>Lors de ma seconde année de DUT MMI, j'ai effectué mon alternance chez eux en tant que Développeur Web. Ma mission principale était de <strong>créer le nouveau site internet</strong>.</p>
  <h2>Besoins des patients ...</h2>
  <p>Ce site institutionnel devait répondre à plusieurs attentes des patients :</p>
  <ul class="list">
    <li>Localiser les établissements du groupe, en indiquant les horaires, les modalités de prise de rendez-vous, et les accès en transports en commun</li>
    <li>Expliquer le déroulé des examens afin de rassurer les patients, et illustrer avec des photographies réalisées dans les salles d'examen</li>
    <li>Permettre la demande de rendez-vous en ligne grâce à un formulaire personnalisé et dynamique</li>
  </ul>
  <h3>... et du personnel</h3>
  <p>En tant que commanditaires, les membres du comité de pilotage (COPIL) du projet ont émis plusieurs demandes :</p>
  <ul class="list">
    <li>Pouvoir mettre à jour le contenu simplement, grâce à une interface d'administration</li>
    <li>Avoir la main sur les formulaires de demande de rendez-vous en ligne</li>
    <li>Gérer l'hébergement du site sur un de leurs serveurs, afin de ne pas dépendre d'un service tiers</li>
    <li>Respecter le RGPD pour le traitement des données sensibles des patients</li>
  </ul>
  <h2>Solutions mises en oeuvre</h2>
  <p>Puisqu'il s'agissait de mon premier site d'envergure, j'ai commencé par analyser les <strong>solutions de système de gestion de contenu (CMS)</strong> disponibles, et qui soient à la portée d'un jeune développeur Web.</p>
  <h3>Site WordPress avec thème personnalisé</h3>
  <p>J'ai choisi d'utiliser le CMS WordPress pour la <strong>simplicité de la gestion du contenu</strong>, ainsi que pour le grand nombre de formations disponible à son sujet.</p>
  <p>Après avoir réalisé des croquis et des maquettes sur Affinity Designer, j'ai commencé l'intégration de gabarits des principales pages du site (page établissement, page examen, page formulaire ...).</p>
  <h3>Champs conditionnels pour Contact Form 7</h3>
  <p><em>Contact Form 7</em> est une extension WordPress populaire pour la réalisation de formulaire de contact, mais elle permet également de construire des formulaires complexes.</p>
  <p>Couplé à l'extension <em>Conditionnal Fields for Contact Form 7</em>, les formulaires deviennent dynamiques, affichant ou masquant des champs et des options selon les réponses du patient.</p>
  <p>Enfin, l'extension <em>Multi Step for Contact Form 7</em> indique au patient sa progression dans le formulaire de demande de rendez-vous.</p>
  <h3>Performances boostées et référencement enrichi</h3>
  <p><strong>Optimiser les ressources</strong> nécessaires au fonctionnement du site est <strong>un point clé pour réduire le temps de chargement et améliorer la navigation</strong> des utilisateurs. Pour cela, le site WordPress utilise uniquement les extensions indispensables, et <strong>le thème a été développé pour répondre aux besoins spécifiques du site Web</strong>.</p>
  <p>Pour améliorer le référencement, le thème intègre la <strong>génération automatique de données structurées</strong>, un format de données utilisé par Google Search ou d'autres services pour comprendre le contenu du site, et faire le lien avec des plateformes comme Google Maps.</p>
  <figure>
    <Picture alt="Extrait du JSON de donneés structurées et de leur validation via Schema.org sur une page du site 72mis.fr" src={structuredDataPicture} widths={[420, 840, 1280]} aspectRatio="896:628" sizes="(min-width: 58.5em) 56em, 100vw" />
    <figcaption>Analyse des données structurées via <a href="https://validator.schema.org/#url=https%3A%2F%2F72mis.fr%2Fetablissements%2Fle-mans-pole-sante-sud-2" rel="noopener noreferrer nofollow" target="_blank">Schema.org</a>.</figcaption>
  </figure>
  <h2>Conclusion</h2>
  <p>Cette première expérience professionnelle était aussi ma première expérience de <strong>conception d'un site internet, de la rédaction du cahier des charges au développement et à l'optimisation, jusqu'à la mise en ligne.</strong></p>
  <p>Réalisé avec WordPress, ce site est consulté par plus de 30.000 visiteurs par mois.</p>
</ProjectLayout>
