---
import ProjectLayout from "~layouts/ProjectLayout.astro";
import { Picture } from "@astrojs/image/components";

import cover from '~images/project/patrimoine-mayenne-cover.jpg';
import accentuedContrastPicture from '~images/project/patrimoine-mayenne-accentued-contrast.jpg';

const content = {
  title: 'Patrimoine La Mayenne',
  excerpt: "Amélioration de l'accessibilité et de la navigation des sites du patrimoine de la Mayenne.",
  site: 'https://patrimoine.lamayenne.fr',
  technologies: ["WordPress", "PHP", "HTML", "JavaScript", "CSS"],
  services: ["Accessibilité", "Sémantique", "Optimisation des performances", "Référencement", "Conseil"],
  publishDate: '2022-08-21T14:00:00',
  updateDate: null,
  cover: cover,
  coverAlt: "Page d'accueil des sites du patrimoine de la Mayenne, visible sur patrimoine.lamayenne.fr",
  coverSEO: '/images/project/patrimoine-mayenne-social.png',
};
---

<ProjectLayout {...content}>
  <h2>Le projet</h2>
  <p>Le <strong>Conseil départemental de la Mayenne</strong> souhaitait regrouper et uniformiser les sites internet du Château de Sainte-Suzanne, du Musée de Jublains et du Musée Robert Tatin grâce à un nouveau site unique.</p>
  <p>C'est un ami et collègue, <a href="https://paulrogerdev.fr" rel="noopener">Paul Roger &ndash;&nbsp;développeur Web free-lance sur Laval</a> également&nbsp;&ndash;, qui a obtenu le marché pour la création de ce site.</p>
  <p>Je suis intervenu à la fin du projet pour travailler sur l'<strong>accessibilité du site</strong> aux lecteurs d'écrans, la navigation au clavier, et le fonctionnement des différents formulaires.</p>
  <h2>Solutions mises en place</h2>
  <p>Le site fonctionne avec WordPress pour permettre la gestion du contenu aux administrateurs des musées et château. Les pages utilisent l'éditeur Gutenberg et des blocs personnalisés gérés avec <em>Advanced Custom Fields PRO (ACF)</em>.</p>
  <p>Ma première tâche consistait à <strong>améliorer la sémantique</strong> utilisée sur chacun des blocs, afin d'indiquer aux lecteurs d'écrans les types de contenus adéquats, puis j'ai travaillé sur le fonctionnement des menus et autres contenus interactifs comme les formulaires de recherche.</p>
  <h3>Menus de navigation</h3>
  <p>Plusieurs menus de navigation sont présents sur le site :</p>
  <ul>
    <li>Navigation vers les autres sites du département de la Mayenne</li>
    <li>Navigation entre les différents musées et château du patrimoine de la Mayenne</li>
    <li>Navigation interne pour chacun des musées et château</li>
  </ul>
  <p>Ces trois menus ont chacun un affichage différent en fonction de la taille de l'écran, j'ai adapté le <strong>fonctionnement pour la navigation au clavier et les lecteurs d'écrans</strong>, en ajoutant des <strong>attributs ARIA</strong> (<span lang="en"><em>Accessible Rich Internet Applications</em></span>, traduisible par "applications internet riches et accessibles") adaptés.</p>
  <h3>Réglages d'accessibilité</h3>
  <p>Pour permettre une meilleure lisibilité, deux options sont disponibles pour l'utilisateur via un menu intitulé "Réglages d'accessibilité", mais également depuis les préférences du système ou du navigateur.</p>
  <p>Sur les navigateurs les plus récents, des "requêtes média" (ou <span lang="en"><em>media queries</em></span>) permettent de connaître ces préférences, telles que <code>@media (prefers-reduced-motion: reduce) &#123;...&#125;</code> pour un affichage avec moins d'animation graphiques.</p>
  <h4>Mode haut contraste</h4>
  <p>L'<strong>accentuation du contraste rend le texte plus lisible</strong>, notamment en remplaçant la couleur principale par du noir, et en retirant les nuances de gris sur les textes.</p>
  <figure>
    <Picture alt="Exemple du mode contraste accentué sur une page du site patrimoine.lamayenne.fr" src={accentuedContrastPicture} widths={[480, 896]} aspectRatio="896:628" sizes="(max-width: 950px) 100vw, 896px" />
    <figcaption>Affichage par défaut à gauche, et avec contraste accentué à droite</figcaption>
  </figure>
  <p>Ainsi, tous les contenus ont un ratio de contraste d'au moins 7:1, ce qui est supérieur aux critères `3.2` et `3.3` du <strong>Référentiel Général d'Amélioration de l'Accessibilité (RGAA)</strong>.</p>
  <h4>Désactivation des animations graphiques</h4>
  <p>Plusieurs éléments du site comportent des animations, en particulier la page principale, ainsi que les menus. Selon les préférences de l'utilisateur, ces animations peuvent être désactivées afin de ne pas gêner la navigation des utilisateurs sensibles.</p>
  <h3>Optimisation des performances</h3>
  <p>Le site nécessite l'utilisation de JavaScript pour s'adapter sur toutes les tailles d'écrans, j'ai profité des modifications des menus pour simplifier et optimiser le code utilisé afin de gagner en performances, et <strong>réduire le <span lang="en"><em>Cumulative Layout Shift</em> (CLS)</span> lors du chargement</strong> des évènements sur la page principale.</p>
</ProjectLayout>
