---
import ProjectLayout from "~layouts/ProjectLayout.astro";
import ProjectReview from "~components/Project/ProjectReview.astro";
import { Picture } from "@astrojs/image/components";

import cover from '~images/project/portfolio-thurb-cover.jpg';
import carouselPicture from '~images/project/portfolio-thurb-carousel.jpg';

const content = {
  title: 'Portfolio de Thurb',
  excerpt: "Création du site internet / portfolio de Thurb, un graphiste, illustrateur et artiste free-lance.",
  site: 'https://thurbwork.com',
  technologies: ["WordPress", "PHP", "Sass", "Git"],
  services: ["Développement du thème WordPress", "Référencement", "Gestion de l'hébergement", "Formation"],
  publishDate: '2022-08-20T14:00:00',
  updateDate: null,
  cover: cover,
  coverAlt: "Page d'accueil du portfolio de Thurb, visible sur thurbwork.com",
  coverSEO: '/images/project/portfolio-thurb-social.png',
};
---

<ProjectLayout {...content}>
  <h2>Présentation de Thurb</h2>
  <p>Thurb est un artiste, graphiste et illustrateur, en free-lance depuis 5 ans. Passionné par l'univers créatif depuis son plus jeune âge, il a fait de sa passion son métier.</p>
  <p>Sa créativité et la qualité de son travail lui donnent l'opportunité de travailler avec des marques et des grands noms de YouTube (Vitality, KFC, Squeezie, Domingo, Gotaga, Bigflo&amp;oli ...)</p>
  <h2>Besoins et demandes du client</h2>
  <p>Fin 2020, Thurb m'a contacté pour la création de son site internet. Il souhaitait lui-même gérer l'ajout et la mise à jour du contenu et de ses projets, avec un système de gestion de contenu simple.</p>
  <p>Thurb avait déjà réalisé les maquettes de son portfolio, et je devais réaliser le responsive pour permettre le bon fonctionnement sur tous types de terminaux (smartphone, tablettes, ordinateur ...).</p>
  <h2>Solutions mises en place</h2>
  <p>Pour répondre aux besoins de Thurb, j'ai développé un thème sur-mesure sous WordPress, enrichi avec des champs personnalisés grâce à l'extension ACF Pro (Advanced Custom Fields Pro).</p>
  <figure>
    <Picture alt="Capture d'écran de la page de gestion des clients présents dans le carousel" src={carouselPicture} widths={[480, 896]} aspectRatio="896:628" sizes="(max-width: 950px) 100vw, 896px" />
    <figcaption>Page de gestion des clients présents dans le carousel</figcaption>
  </figure>
  <h3>Carrousel de clients</h3>
  <p>Présent sur plusieurs pages, le carrousel des clients de Thurb est un groupe de champs personnalisés géré via ACF Pro, permettant de mettre à jour toutes les pages qui l'utilisent via un seul formulaire.</p>
  <h3>Formulaire aux normes RGPD</h3>
  <p>Le formulaire de contact respecte les nouvelles réglementations du RGPD, de même que le reste du site grâce à l'utilisation d'une solution analytique respectueuse de la vie privée des visiteurs du site.</p>
  <ProjectReview author="Thurb" link="https://goo.gl/maps/qm93aM1WGeaszthr9">
    Un très bon dev polyvalent ! Martin est très professionnel, réactif et à l'écoute du client!
    Il a su répondre à mes attentes comme il le fallait. Un plaisir de travailler avec lui, je ne peux que le conseiller! 🤝
  </ProjectReview>
</ProjectLayout>
